
#loading{
    text-align: center;
    margin-top: 20%;
}
input{
    
}
#p2{
    font-size: 20px;
    border-left: 3px solid #6610f2;
    margin-bottom: 100px; 
    padding-left: 15px;
}
#submit{
    width: 50%;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#6f42c1,#6610f2);
}
#submit:hover{
    box-shadow: 1px 1px 12px #555;
    transition: 0.3s;
}
